$vue_green: hsla(153, 50%, 48%, 1);
$vue_green_dark: hsla(211, 28%, 29%, 1);

//Bootstraps
$bs_blue: #007bff;
$bs_red: #cc0000;
$bs_orange: #ff8800;
$bs_green: #007e33;

$colors: (
	blue: #0071c5,
	indigo: #6610f2,
	purple: #6f42c1,
	pink: #e83e8c,
	red: #ed1c24,
	orange: #ffa300,
	yellow: #f3d54e,
	green: #c4d600,
	teal: #20c997,
	cyan: #00aeef,
	white: #fff,
	gray: #6c757d,
	gray-dark: #343a40,
	primary: #0071c5,
	secondary: #fff,
	success: #c4d600,
	info: #00aeef,
	warning: #f3d54e,
	danger: #ed1c24,
	light: #f8f9fa,
	dark: #343a40,
)