
	.container
		.grid-container
			.cell.a Header
			.cell.b Left
			.cell.c 
				p
					| Veggies es bonus vobis, proinde vos
					| postulo essum magis kohlrabi welsh onion 
					| daikon amaranth tatsoi tomatillo melon azuki bean garlic.
			.cell.d Right
			.cell.e Footer
