
	.container
		.grid-container
			.cell.a Header
			.cell.b Side Bar
			.cell.c 
				p
					| Sed luctus magna sem, a pharetra lacus tempus vitae.
					| Sed mollis fermentum libero eu ornare. Quisque ut sollicitudin
					| magna. Maecenas a felis et metus molestie gravida a nec nunc. Maecenas
