
	.intro
		.intro__travel-dot
		.intro__words
			.intro__a A
			.intro__d D
			.intro__amp &
			.intro__s S
			.intro__presents Presents
		.intro__dots
			.intro__dot1
			.intro__dot2
			.intro__dot3
