
.container
	button.circle
		icon(name="refresh" scale="1")
	button.circle
		icon(name="bath", scale="1")
	button.circle
		icon(name="blind", scale="1")
	button.circle
		icon(name="truck", scale="1")
	button.circle-lg
		icon(name="apple", scale="1")
